.container.container-survey-home 
  .row
    .col-md-12 
      h2 Die Umfrage ist leider bereits abgeschlossen
      p 
        | Herzlichen Dank für Ihre Mitarbeit! Wir laden Sie herzlich ein, sich in unserem Portal zu registrieren. Für Rückfragen stehen wir gerne unter
        a<> href="mailto:support@wissenschaftliche-sammlungen.de" support@wissenschaftliche-sammlungen.de
        | zur Verfügung.
      
      
      = render "transform_account", user: @user