= render("winston/attributes/attribute_present",
    attr: uni.has_coll_coord,
    tooltip_true: "Universität mit Sammlungskoordination",
    tooltip_false: "Universität ohne Sammlungskoordination",
    img_true: "icons/coordination_26452_cc_MOrmiston.png")
