= render("winston/attributes/attribute_present",
    attr: uni.has_coll_website,
    tooltip_true: "Universität mit gemeinsamem Sammlungsportal",
    tooltip_false: "Universität ohne gemeinsamem Sammlungsportal",
    img_true: "icons/world-search_cc_hunotika_2.png")
