.sektion 
= @glass.inline @record, "has_collection_concept" 
= @glass.inline @record, "has_usage_regulation"
= @glass.inline @record, "has_budget"

= @glass.inline @record, "academic_teaching"
= @glass.inline @record, "has_documented_history"
= @glass.inline @record, "provenance_status"

.sektion
= @glass.inline @record, "has_holdinggroup"
= @glass.inline @record, "has_database_internal"
= @glass.inline @record, "homepage"